 <!-- #author-->
<figure class="author-image">
    <a class="img" href="/{{ site.baseurl }}" style="background-image: url(/{{ site.baseurl }}assets/images/author-go-vader.jpg)"><span class="hidden">{{ page.author }}'s Picture</span></a>
</figure>

<section class="author">
    <h4><a href="/{{ site.baseurl }}author/{{ page.author }}">Go-Vader</a></h4>

    <div class="author-meta">
        <span class="author-location icon-location"> South of France</span>
        <span class="author-link icon-github"><a href="https://github.com/govader" target="_blank"> govader</a></span>
    </div>
</section>

<!-- /author  -->